<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <style>
        body {
            background-color: #fafafa;
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        .masonry {
            column-count: 4;
            column-gap: 16px;
        }
        .item {
            break-inside: avoid;
            margin-bottom: 16px;
        }
        .item img {
            width: 100%;
            height: auto;
            border-radius: 12px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .item:hover img {
            opacity: 0.9;
        }
        @media (max-width: 1200px) {
            .masonry {
                column-count: 3;
            }
        }
        @media (max-width: 800px) {
            .masonry {
                column-count: 2;
            }
        }
        @media (max-width: 500px) {
            .masonry {
                column-count: 1;
            }
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Your Feed</h1>
    <div class="masonry">
        <div class="item"><a href="https://x.com/statuses/1957929977346756640" target="_blank"><img src="https://pbs.twimg.com/media/Gyv23cVXIAAvE25.jpg" alt="Nature image 1"></a></div>
        <div class="item"><a href="https://x.com/statuses/1951711345021165701" target="_blank"><img src="https://pbs.twimg.com/media/GxXcRKDXoAA1nkh.jpg" alt="Nature image 2"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955056247218246057" target="_blank"><img src="https://pbs.twimg.com/media/GyHBRdsWwAEar-1.jpg" alt="Nature image 3"></a></div>
        <div class="item"><a href="https://x.com/statuses/1952941684263711148" target="_blank"><img src="https://pbs.twimg.com/media/Gxo-G4YWEAAPM3k.jpg" alt="Nature image 4"></a></div>
        <div class="item"><a href="https://x.com/statuses/1952941684263711148" target="_blank"><img src="https://pbs.twimg.com/media/Gxo-G4RXIAAYl5l.jpg" alt="Nature image 5"></a></div>
        <div class="item"><a href="https://x.com/statuses/1952941684263711148" target="_blank"><img src="https://pbs.twimg.com/media/Gxo-G4TWYAAdEuj.jpg" alt="Nature image 6"></a></div>
        <div class="item"><a href="https://x.com/statuses/1952941684263711148" target="_blank"><img src="https://pbs.twimg.com/media/Gxo-G4TWkAA6K55.jpg" alt="Nature image 7"></a></div>
        <div class="item"><a href="https://x.com/statuses/1951480574440353894" target="_blank"><img src="https://pbs.twimg.com/media/GxTSUHNWEAA38Cp.jpg" alt="Nature image 8"></a></div>
        <div class="item"><a href="https://x.com/statuses/1948773857982124105" target="_blank"><img src="https://pbs.twimg.com/media/GwtvfLTXoAA7dOk.jpg" alt="Nature image 9"></a></div>
        <div class="item"><a href="https://x.com/statuses/1958228663209701639" target="_blank"><img src="https://pbs.twimg.com/media/Gy0Gkkdb0AA6OWg.jpg" alt="Nature image 10"></a></div>
        <div class="item"><a href="https://x.com/statuses/1954292149954232542" target="_blank"><img src="https://pbs.twimg.com/media/Gx8KWWnXsAAtUbn.jpg" alt="Nature image 11"></a></div>
        <div class="item"><a href="https://x.com/statuses/1958019070621622577" target="_blank"><img src="https://pbs.twimg.com/media/GyxH92AWcAEaQ1u.jpg" alt="Nature image 12"></a></div>
        <div class="item"><a href="https://x.com/statuses/1949481344087752851" target="_blank"><img src="https://pbs.twimg.com/media/Gw3y6esXoAA7GZP.jpg" alt="Nature image 13"></a></div>
        <div class="item"><a href="https://x.com/statuses/1958203592264847392" target="_blank"><img src="https://pbs.twimg.com/media/GyzvhlSb0AEJPvp.jpg" alt="Nature image 14"></a></div>
        <div class="item"><a href="https://x.com/statuses/1952033234482598045" target="_blank"><img src="https://pbs.twimg.com/media/GxcD4eWW4AABH80.jpg" alt="Nature image 15"></a></div>
        <div class="item"><a href="https://x.com/statuses/1958129434743230684" target="_blank"><img src="https://pbs.twimg.com/media/GyysUeAXEAAUFo8.jpg" alt="Nature image 16"></a></div>
        <div class="item"><a href="https://x.com/statuses/1954589032450511031" target="_blank"><img src="https://pbs.twimg.com/media/GyAYXX0WEAA_UZh.jpg" alt="Nature image 17"></a></div>
        <div class="item"><a href="https://x.com/statuses/1954328186810171619" target="_blank"><img src="https://pbs.twimg.com/media/Gx8rGrfbIAAyez4.jpg" alt="Nature image 18"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955266264517030133" target="_blank"><img src="https://pbs.twimg.com/media/GyKATNCXAAAT_SM.jpg" alt="Nature image 19"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955266264517030133" target="_blank"><img src="https://pbs.twimg.com/media/GyKATMwXwAAxgmm.jpg" alt="Nature image 20"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955266264517030133" target="_blank"><img src="https://pbs.twimg.com/media/GyKATNhWYAABEug.jpg" alt="Nature image 21"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955266264517030133" target="_blank"><img src="https://pbs.twimg.com/media/GyKATYjXYAImRQj.jpg" alt="Nature image 22"></a></div>
        <div class="item"><a href="https://x.com/statuses/1948752654173438084" target="_blank"><img src="https://pbs.twimg.com/media/GwtcNgObgAI743H.jpg" alt="Nature image 23"></a></div>
        <div class="item"><a href="https://x.com/statuses/1956240417499799819" target="_blank"><img src="https://pbs.twimg.com/media/GyX2SP6WUAA6LGS.jpg" alt="Nature image 24"></a></div>
        <div class="item"><a href="https://x.com/statuses/1956240417499799819" target="_blank"><img src="https://pbs.twimg.com/media/GyX2SP8WoAQ-kC5.jpg" alt="Nature image 25"></a></div>
        <div class="item"><a href="https://x.com/statuses/1956240417499799819" target="_blank"><img src="https://pbs.twimg.com/media/GyX2SP7WYAEb3DM.jpg" alt="Nature image 26"></a></div>
        <div class="item"><a href="https://x.com/statuses/1956240417499799819" target="_blank"><img src="https://pbs.twimg.com/media/GyX2SP1XgAAgHOZ.jpg" alt="Nature image 27"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955527770009899065" target="_blank"><img src="https://pbs.twimg.com/media/GyNuI9cWsAAtDMG.jpg" alt="Nature image 28"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955471785753022616" target="_blank"><img src="https://pbs.twimg.com/media/GyM7OLZWsAALv_z.jpg" alt="Nature image 29"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955471785753022616" target="_blank"><img src="https://pbs.twimg.com/media/GyM7OOPXkAAQs_9.jpg" alt="Nature image 30"></a></div>
        <div class="item"><a href="https://x.com/statuses/1955471785753022616" target="_blank"><img src="https://pbs.twimg.com/media/GyM7OYUXUAAR-Eh.jpg" alt="Nature image 31"></a></div>
    </div>
</body>
</html>