<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="card">
  <div class="lines"></div>
  <div class="imgBx">
    <img src="https://i.pravatar.cc/150?u=123" alt="profile">
  </div>
  <div class="content">
    <div class="details">
      <h2>Alex Johnson<br><span>Senior Developer</span></h2>
      <div class="data">
        <h3>342<br><span>Posts</span></h3>
        <h3>120k<br><span>Followers</span></h3>
        <h3>285<br><span>Following</span></h3>
      </div>
      <div class="actionBtn">
        <button>Follow</button>
        <button>Message</button>
      </div>
      <div class="logout" style="margin-top: 20px; text-align: center;">
        <a href="/logout" class="button" style="text-decoration: none; font-weight: bold;">Logout</a>
      </div>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
</body>
</html>