
<%- include('./partials/header') %>

  <div class="w-full bg-zinc-100 flex justify-center items-center h-screen">
    <div class="w-[23vw] h-[60vh] bg-white rounded-2xl flex flex-col justify-center items-center box-border">
    <!-- <div class=" bg-white rounded-2xl box-border"> -->
      <div class="logo">P</div>
      <div class="text">Welcome to Pinterest</div>
      <form action="">
      <div class="email">
        <p>Email</p>
        <input type="email" name="email" placeholder="Email">
      </div>
      <div class="password">
        <p>Password</p>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="forgot">
        <p>Forgot your password</p>
      </div>
      <div class="login">
        <button>Login</button>
      </div>
      <div class="other-login">
        <div class="gle-login">
          <p>Continue with Google</p>
        </div>
        <div class="qr-login">
          <p>Use QR Code</p>
        </div>
      </div>
      <div class="text-wrap">
        <p class="text-wrap">By continuing you agree to Pinterest terms and conditions</p>
      </div>
      <div class="signup">
        <p>Don't have an account? <span>Sign up</span></p>
      </div>
      </form>
    </div>

  </div>

<%- include('./partials/footer') %>
  

