* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c1c;
}

.card {
  position: relative;
  width: 350px;
  height: 450px;
  background: #2a2a2a;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
  transform-origin: 0 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
  border-radius: 17px;
}

.card .imgBx {
  position: relative;
  width: 100%;
  height: 150px;
  padding: 20px;
  z-index: 1;
}

.card .imgBx img {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #272727;
  overflow: hidden;
  object-fit: cover;
}

.card .content {
  position: relative;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.card .content .details {
  width: 100%;
  text-align: center;
}

.card .content .details h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
  opacity: 0.75;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 30px;
}

.card .content .details .data h3 {
  font-size: 1.1em;
  color: #45f3ff;
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .data h3 span {
  font-size: 0.65em;
  font-weight: 400;
  color: #fff;
  opacity: 0.75;
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 30px;
}

.card .content .details .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #45f3ff;
  color: #222;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

.card .content .details .actionBtn button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.card .content .social-icons {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card .content .social-icons a {
  color: #fff;
  font-size: 1.5em;
  opacity: 0.75;
  transition: 0.3s;
}

.card .content .social-icons a:hover {
  transform: scale(1.2);
  opacity: 1;
  color: #45f3ff;
}

.card .content .details .logoutbtn {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  padding: 1rem 0;

}
.card .content .details .logoutbtn .button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #ff4545;
  color: #222;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  text-decoration: none;
}

.card .content .logoutbtn a:hover {
  transform: scale(1.1);
  opacity: 1;
  color: #f71616;
}

/* .card .content .details .upload{
  margin: 1rem 0;
} */